<br>
<% foto = AdditionalTable.find_by(user_id: @user_buscado.id).picture%>
<%mail =@user_buscado.email%>
<%name = AdditionalTable.find_by(user_id: @user_buscado.id).username%>
<%bioo = AdditionalTable.find_by(user_id: @user_buscado.id).biografia%>
<%celular = AdditionalTable.find_by(user_id: @user_buscado.id).phone%>
<%pron = AdditionalTable.find_by(user_id: @user_buscado.id).pronouns%>
<%big_p= AdditionalTable.find_by(user_id: @user_buscado.id).big_picture%>


<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag url_for(foto), alt: "Imagen de la actividad" if foto.attached? %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag url_for(foto), alt: "Imagen de la actividad" if foto.attached? %>
        </figure>
      </div>
            
      <div class="media-content">
        <p class="title is-4"><%=name%></p>
        <p class="subtitle is-6"><%=pron%></p>
      </div>
      <% if @user_buscado.followers.include?(current_user) %>
      <span class="icon-text has-text-success">
        <span class="icon">
          <i class="fas fa-check-square"></i>
        </span>
        <span>Ya sigues a <%= @user_buscado.email %></span>
      </span>
    <% else %>
    <div class="buttons">
    <%= button_to "Solicitar Seguir", request_follow_user_path(user_id: @user_buscado.id), method: :post, class: "button is-primary" %>
      <!-- Contenido a mostrar si el usuario actual está en la lista de seguidores -->
    <% end %>
      <div class="media-content">
      <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Actividades</p>
          <p class="title"><%=@user_buscado.actividads.count %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
      <div>
        <p class="heading">
          <%= link_to 'Followers', followers_de_otro_path %>
        </p>
        <p class="title"><%= @user_buscado.followers.count %></p>
      </div>
    </div>
      
    </div>
    </nav>
    </div>
    </div>
    <br>
    <br>
    <div class="content">
        <%=bioo%><br>
        <%=celular%><br>


      
     
      
      </div>
   

    </div>
    <% if current_user.global_admin %>
      <div class="buttons">
        <%= button_to "Delete User", destroy_user_path(@user_buscado), method: :delete, data: { confirm: "Are you sure you want to delete this user's account? This action cannot be undone." }, class: "button is-danger is-light" %>
      </div>
    <% end %>
  </div>
</div>

